body {
  background-color: #f0f0f0;
}

.picture {
  margin-bottom: 10px;
}

.rounded {
  background-color: #748873;
}

@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }
}

.picture {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100rem;
}
